<header>
  <div class="sidebar">
              <a class="nav-link disabled" style="background-color: #0096FF; color: aliceblue;" ><h3>E-signal</h3></a>
              <a class="nav-link" routerLink="/accueil">Statistique</a>
              <a class="nav-link" routerLink="/signalement">Signalement</a>
              <a class="nav-link" routerLink="/ajoutregion">Ajout Région</a>
              <a class="nav-link" routerLink="/supregion">Supprimer Region</a>
              <a class="nav-link" routerLink="/deconnexion">Deconnexion</a>

      </div>
</header>
