
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00BFFF;
    color: white;
  }
  .bouton{
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:  #00BFFF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: transform 1s;
  }
  
  .bouton:hover {background-color:red}
  
  .bouton:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .boutonmodifier{
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(18, 185, 29);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: transform 0.5s;
  }

    .boutonmodifier:hover{ background-color: rgb(11, 156, 132);}

  .boutonmodifier:active{
    background-color: rgb(11, 156, 132);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
    
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 1500px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
     
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }
  
    /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
    div.content {
      margin-left: 250px;
      padding: 1px 16px;
      height: auto;
    }