.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url('../../assets/images/preview.jpg');
  background-size: cover;
  background-position: center center;
}
.invalid-feedback
{
  margin-left: 25px;
}