<div>
<!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-light-primary elevation-4">
        <!-- Brand Logo -->
        <a class="brand-link disabled" style="background-color: #00BFFF;">
          <h1 class="brand-text font-weight-light">E signal</h1>
        </a>
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
              <li class="nav-item has-treeview menu-open">
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a routerLink="/accueil" class="nav-link">
                      <i class="fa fa-signal nav-icon" aria-hidden="true"></i>
                      <p> Statistique </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/signalement" class="nav-link">
                      <i class="fa fa-globe nav-icon"></i>
                      <p>Signalement</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/ajoutregion" class="nav-link">
                      <i class="fa fa-plus nav-icon"></i>
                      <p>Ajout Région</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/listeUtilisateur" class="nav-link">
                      <i class="fas fa-user-alt  nav-icon"></i>
                      <p>Liste utilisateur</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/listeRegion" class="nav-link">
                      <i class="fas fa-pen-alt  nav-icon"></i>
                      <p>Liste Region</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/deconnexion" class="nav-link">
                      <i class="fa fa-toggle-off nav-icon"></i>
                      <p>Deconnexion</p>
                    </a>
                  </li>
                
                </ul>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>
</div>